<!-- movie-list.component.html 
<ngx-datatable #myTable class="ngx-datatable ngx-datatable-material" [rows]="films" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
    <ngx-datatable-column class="ngx-datatable ngx-datatable-material" name="ID">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.id }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Title">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.title }}
        </ng-template>
    </ngx-datatable-column>-->

<!-- Ajoutez d'autres colonnes ici 

</ngx-datatable>-->


<div class="container">
    <div class="row  mt-4">

        <div *ngFor="let movie of films" class="col-4 ">
            <div class="card  p-3" style="width: 18rem;">
                <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" class="card-img-top">

                <div class="card-body">

                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.overview }}</p>
                    <a [routerLink]="['/film', movie.id]" class="btn btn-primary">+</a>
                </div>
            </div>

        </div>

    </div>
</div>